.container {
    border: none;
    background-color: unset;
    font-size: 40px;
    padding: 0.5rem;
    border-radius: 4px;
}

button.container:hover {
    background-color: var(--color-gray-100);
}