#header {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 1;
    background: rgb(255, 255, 255, 0.55);
}

.mobile {
    display: none;
}

.left {
    width: 33%;
}

.right {

    width: 33%;
    text-align: right;
}

h1 {
    width: 33%;
    text-align: center;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.left a,
.right a {
    padding-right: 1rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.right a {
    display: inline-flex;
    align-items: center;
}

.right img {
    width: 25px;
    display: inline;

}

.right a:last-child {
    padding-right: 0;
}

.left a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--color-yellow-200);
    text-decoration-thickness: 0.25rem;
}

@media (max-width: 1250px) {
    .left {
        width: 50%;
    }

    .right,
    h1 {
        width: 25%;
    }

    h1 {
        text-align: left;
    }
}

@media (max-width: 835px) {
    .desktop {
        display: none;
    }

    h1 {
        width: unset;
    }

    .mobile {
        display: block;
    }
}