.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.unmute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;

}

.unmute svg {
    width: 20px !important;
    height: 20px !important;
}