.container {
    flex: 1 1 300px;
    height: 500px;
    background-color: aqua;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin-left: 1rem;
    margin-bottom: 1rem;
}